header {
    /* display: flex; */
    background-color: black;
    color: white;
}

.sectionTop {
    background-image: url(https://images.unsplash.com/photo-1519608487953-e999c86e7455?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    /* width: 100%; */
    height: 500px;
    background-size: cover;
}

.sectionTwo {
    color: white;
    /* padding: 100px; */
}

.reviewCard {
    background-color: rgb(54, 53, 53);
    border-radius: 20px;
    height: 180px;
}

.reviewcardSpecial {
    background-color: rgb(54, 53, 53);
    border-radius: 20px;
    height: 200px;
}

@media (min-width: 768px) {
    .PClist {
        border-radius: 10px;
        margin-bottom: 200px;
        position: absolute;
        bottom: -250px;
        box-shadow: 0px 10px rgba(0, 0, 0, 0.073);
    }
}