header {
    display: flex;
    background-color: black;
    color: white;
}

.sectionTop {
    background-image: url(https://images.unsplash.com/photo-1540917318530-80bfaa52ac2d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Nnx8fGVufDB8fHx8fA%3D%3D);
    width: 100%;
    height: 500px;
    background-size: cover;
}

.sectionTwo {
    color: white;
}

.reviewCard {
    background-color: rgb(54, 53, 53);
    border-radius: 20px;
    height: 180px;
}

.reviewcardSpecial {
    background-color: rgb(54, 53, 53);
    border-radius: 20px;
    height: 200px;
}